.profile_no_52_a1sweden .profile_head
{
	background: url('http://images.hamsterpaj.net/profile_themes/no_52_a1sweden/profile_head_bg.png');
	color: #eee;
}

.profile_no_52_a1sweden .navigation a

{

	color: #eeeeee;

	font-size: 12px;

	font-weight: normal;

}

.profile_no_52_a1sweden .user_status

{
	margin-left: 146px;
}

.profile_no_52_a1sweden .profile_head a

{
	color: #eeeeee;
}

.profile_no_52_a1sweden .profile_head .user_action_log li a
{
	text-decoration: underline;
}