.entertain_view
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-top: none;
}

.entertain_view object
{
	width: 100%;
	height: 477px;
}

/*
	IFRAME
*/
.entertain_iframe
{
	width: 100%;
	border: none;
	height: 800px;
}

/*
	PREFORMATTED
*/
.entertain_preformatted
{
	color: black;
	font-family: courier new;
	font-weight: bold;
	display: block;
	padding: 15px;
	border: 1px solid #ababab;
	background: #f2f2f2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* 
	WEB
*/
.entertain_web
{
	font-size: 25px;
}
