#abuse label
{
	font-weight: bold;
}


#abuse textarea
{
	display: block;
	width: 400px;
	height: 100px;
}

.abuse_button
{
	border: 0px none;
	margin: 0px;
}

.abuse_button img
{
	border: 0px none;
	margin: 0px;
}