.article_list_item
{
	min-height: 80px;
}
	.article_list_item img
	{
		float: left;
		margin-right: 5px;
		padding-top: 2px;
	}
	
	.article_list_item h2, .article_list_item p
	{
		margin: 0;
	}
h1
{
	margin-top: 0;
}
#author img
{
	margin-right: 5px;
	padding-top: 2px;
	float: left;
}
#author h3
{
	margin-top: 0;
}

#article p
{
	line-height: 1.3;
}