/* Main Style Sheet for jQuery UI date picker */
.ui-datepicker-div, #ui-datepicker-div, .ui-datepicker-inline {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana, Arial, sans-serif;
	background: #ffffff;
	font-size: 1.1em;
	border: 4px solid #cfe2f1;
	width: 15.5em;
	padding: 2.5em .5em .5em .5em;
	position: relative;
}
#ui-datepicker-div, .ui-datepicker-div {
	z-index: 9999; /*must have*/
	display: none;
	background: #ffffff;
}
.ui-datepicker-inline {
	float: left;
	display: block;
}
.ui-datepicker-control {
	display: none;
}
.ui-datepicker-current {
	display: none;
}
.ui-datepicker-next, .ui-datepicker-prev {
	position: absolute;
	left: .5em;
	top: .5em;
	background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
.ui-datepicker-next {
	left: 14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	background: #f1f5ff url(images/f1f5ff_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
.ui-datepicker-next a, .ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1em;
	background: url(images/888888_7x7_arrow_left.gif) 50% 50% no-repeat;
	border: 1px solid #cfe2f1;
	cursor: pointer;
}
.ui-datepicker-next a {
	background: url(images/888888_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:hover {
	background: url(images/454545_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:hover {
	background: url(images/454545_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:active {
	background: url(images/222222_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:active {
	background: url(images/222222_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-header select {
	border: 1px solid #cfe2f1;
	background: #e6e6e6;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: .5em;
	margin: 0 !important;
	
}
.ui-datepicker-header select.ui-datepicker-new-month {
width: 7em;
left: 2.2em;
}
.ui-datepicker-header select.ui-datepicker-new-year {
width: 5em;
left: 9.4em;
}
table.ui-datepicker {
	width: 15.5em;
	text-align: right;
	font-size: 1em;
}
table.ui-datepicker td a {
	padding: 0.3em;
	display: block;
	color: #555555;
	background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	cursor: pointer;
	border: 1px solid #ffffff;
}
table.ui-datepicker td a:hover {
	border: 1px solid #999999;
	color: #000;
	background: #f1f5ff url(images/f1f5ff_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
table.ui-datepicker td a:active {
	border: 1px solid #dddddd;
	color: #000;
	background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: .3em 0;
	text-align: center;
	font-size: .7em;
	color: #222222;
	text-transform: uppercase;
	/*border-bottom: 1px solid #cfe2f1;*/
}

table.ui-datepicker .ui-datepicker-title-row td a {
	color: #222222;
}
.ui-datepicker-week-col {
	text-align: center;
}