#ui_content fieldset {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	font-size: 14px;
}
#ui_content fieldset span {
	font-size: 0.8em;
	font-weight: normal;
}
#ui_content fieldset label {
	font-size: 0.8em;
	font-weight: bold;
}
	#ui_content fieldset	label strong {
		color: red;
	}
	
#ui_content fieldset input, #ui_content fieldset select, #ui_content fieldset textarea {
	padding: 3px;
}

#ui_content fieldset input, #ui_content fieldset textarea, #ui_content fieldset select {
	border: 1px solid #bbb;
	margin: 5px 0;
	-moz-border-radius: 3px;
}

#ui_content fieldset .form {
	width: 100%;
	border-spacing: 0;
}
#ui_content fieldset .form td, #ui_content fieldset .form th {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}
#ui_content fieldset .form_readonly {
	background: #eee;
}
#form_notice {
	display:none;
}
.form_notice_error, .form_notice_notice, .form_notice_success {
	padding: .8em; 
	margin-bottom: 1em; 
	border: 2px solid #ddd; 
}
.form_notice_success {
	 background: #E6EFC2;
	 color: #264409;
	 border-color: #C6D880;
}
.form_notice_error {
	 background: #FBE3E4;
	 color: #8a1f11;
	 border-color: #FBC2C4;
}
.form_notice_notice {
	background: #FFF6BF; 
	color: #514721; 
	border-color: #FFD324; 
}