#hpads_admin label
{
	display: block;
}

#hpads_admin textarea
{
	display: block;
	width: 500px;
	height: 50px;
}

#hpads_admin dl
{
	display: block;
	background: #efefef;
	border: 1px solid #ababab;
	color: #757575;
	-moz-border-radius: 2px;
	padding: 5px;
	cursor: pointer;
}

#hpads_admin .active
{
	background: #ddecbe;
	color: #232323;
}

#hpads_admin ul li form
{
	display: none;
}
