#tabs
{
	width: 100%;
	height: 24px;
	text-align: center;
}
#tabs ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#tabs li
{
	margin-right: 3px;
	float: right;
	padding-top: 3px;
	background: url(http://i28.tinypic.com/5fndbs.png); width: 84px; height: 17px;
}