#profile_presentation_change_form
{
	margin: 0px;
	padding: 0px;
}

#profile_presentation_change_markup_controls
{
	margin: 10px 0px 0px 0px;
}

#profile_presentation_change_form textarea
{
	border: 0px none;
	padding: 0px;
	margin: 0px;
	width: 628px;
	height: 250px;	
	overflow-y: scroll;
}

#profile_presentation_change_save, #profile_presentation_change_preview_button
{
	float: right;
	margin: 0px 0px 0px 2px;
}

#profile_presentation_change_bold_control
{
	font-weight: bold;
}

#profile_presentation_change_italic_control
{
	font-style: italic;
}

#profile_presentation_change_markup_properties
{
	display: none;
}

#profile_presentation_change_markup_properties_save
{
	display: none;
}

/* Markup properties */
#profile_presentation_change_markup_properties_image img
{
	margin: 5px 30px 5px 0px;
	border: 1px solid #333;
	cursor: pointer;
	float: left;
}

#profile_presentation_change_markup_properties_poll
{
	margin: 0px;
	padding: 0px;
}

#profile_presentation_change_markup_properties_poll li
{
	cursor: pointer;
	list-style-type: none;
	margin: 2px 0px 2px 0px;
	font-weight: bold;
}