.samsung_contest
{
	margin: 5px;
}

.samsung_contest p
{
--	color: red;
}

.samsung_contest textarea
{
	width: 100%;
	height: 75px;
}

.samsung_contest #sam_letter
{
	width: 50px;
}

.samsung_contest #sam_words
{
	width: 100%;
}

.samsung_contest .button
{
	width: 100px;
}

.samsung_message
{
	color: red;
}