.schedule_buffer_1, .schedule_buffer_2, .schedule_buffer_3, .schedule_buffer_4, .schedule_buffer_5
{
	margin-bottom: 10px;
	padding: 15px;
	padding-left: 50px;
	font-weight: bold;
	font-size: 16px;
}

.schedule_buffer_1
{
	background: #ff3333;
	color: white;
	border: 1px solid #dc6e66;
}

.schedule_buffer_1 a
{
	color: white;
}


.schedule_buffer_2
{
	background: #ffe3e0;
	color: #e31b0c;
	border: 1px solid #dc6e66;
}

.schedule_buffer_2 a
{
	color: #e31b0c;
}

.schedule_buffer_3
{
	background: #ffff99;
	color: #533a15;
	border: 1px solid #facd00;
}

.schedule_buffer_3 a
{
	color: #533a15;
}

.schedule_buffer_4
{
	background: #fffbc9;
	color: #7b4b09;
	border: 1px solid #f0dca1;
}

.schedule_buffer_4 a
{
	color: #7b4b09;
}

.schedule_buffer_5
{
	background: #c9ffca;
	color: #097b10;
	border: 1px solid #aaf0a2;
}

.schedule_buffer_5 a
{
	color: #097b10;
}