.search_userbox {
	text-align: center;
	padding: 10px; 
	float: left; 
	width: 115px; 
	height: 115px; 
	margin: 11px; 
	-moz-border-radius: 5px; 
	border: 1px solid #aeaeae;
	background: #F7F7F7 url(http://images.hamsterpaj.net/images/div_fades/orange_fade.png) repeat-x top;
}

.boy {
	background: #F7F7F7 url(http://images.hamsterpaj.net/images/div_fades/blue_fade.png) repeat-x top;
}

.girl {
	background: #F7F7F7 url(http://images.hamsterpaj.net/images/div_fades/pink_fade.png) repeat-x top;
}