/*
	################################################################
	This is great hack of southern khazakstan to make hilarious 
	round corners!
	################################################################
*/
.corners, #corners {
	behavior: url('/htcs/border-radius.htc');
}

/*
	################################################################
	Those faded div's are old, and we should use the rounded_corners
	functions.
	################################################################
*/
.grey_faded_div
{
	width: 628px;
	padding: 2px;
	margin: 4px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/grey_fade.png') repeat-x;
}
.blue_faded_div
{
	width: 628px;
	padding: 2px;
	margin: 4px;
  margin-left: 0px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/blue_fade.png') repeat-x;
}
.pink_faded_div
{
	width: 628px;
	margin: 4px;
	padding: 2px;
 	margin-left: 0px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/pink_fade.png') repeat-x;
}
.orange_faded_div
{
	width: 628px;
	margin: 4px;
	margin-left: 0px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/orange_fade.png') repeat-x;
}
.red_faded_div
{
	width: 628px;
	margin: 4px;
	margin-left: 0px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/red_fade.png') repeat-x;
}
.green_faded_div
{
  width: 628px;
  margin: 4px;
  margin-left: 0px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/green_fade.png') repeat-x;
}
.droptitle
{
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.droptitletext
{
  float:left;
	cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}
.dropimage
{
  float: right;
  cursor: pointer;
}
.user_label_idle
{
	color: black;
}
.user_label_online
{
	font-weight: bold;
	color: #4ba71e;
}

/*
	################################################################
	Those stylings are deprecated.
	################################################################
*/
.tips /*.notification should be used */
{
	background: #fffbc9 url('http://images.hamsterpaj.net/common_icons/tips_light_bulb.png') no-repeat 5px 5px;
	border: 1px solid #f0dca1;
	color: #7b4b09;
	padding: 3px;
	padding-left: 55px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.notification, .warning, .error, .system_error
{
	-moz-border-radius: 5px;
	padding: 3px;
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 60px;
}
.notification .server_message_collapsed_information
{
	display: none;
}
.notification
{
	background: #fffbc9 url('http://images.hamsterpaj.net/common_icons/tips_light_bulb.png') no-repeat 5px 5px;
	border: 1px solid #f0dca1;
}
.warning
{
	background: #ffff99 url('http://images.hamsterpaj.net/common_icons/warning_sign.png') no-repeat 5px 5px;
	border: 1px solid #facd00;
}
.error
{
	background: #FFE3E0 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #DC6E66;
}
.system_error
{
	background: #FF6666 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #FF1A1A;
}
.warning h2, .notification h2, .error h2, .system_error h2
{
	font-size: 17px;
	font-weight: normal;
	margin: 3px 3px 3px 0;
}
.warning p, .notification p, .error p, .system_error p
{
	font-size: 11px;
}


/*
	################################################################
	Use the function ui_server_message() for these stylings.
	################################################################
*/
.server_message_notification, .server_message_warning, .server_message_error, .server_message_system_error {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3px;
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 60px;
}
.server_message_collapsed_information {
	display: none;
}
.server_message_collapsed_information {
	padding: 1px 0 1px 0;
}
.server_message_notification {
	background: #fffbc9 url('http://images.hamsterpaj.net/common_icons/tips_light_bulb.png') no-repeat 5px 5px;
	border: 1px solid #f0dca1;
}
.server_message_warning {
	background: #ffff99 url('http://images.hamsterpaj.net/common_icons/warning_sign.png') no-repeat 5px 5px;
	border: 1px solid #facd00;
}
.server_message_error {
	background: #FFE3E0 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #DC6E66;
}
.server_message_system_error {
	background: #FF6666 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #FF1A1A;
}
.server_message_warning h2, .server_message_notification h2, .server_message_error h2, .server_message_system_error h2 {
	font-size: 17px;
	font-weight: normal;
	margin: 3px 3px 3px 0;
}
.server_message_warning p, .server_message_notification p, .server_message_error p, .server_message_system_error p {
	font-size: 11px;
}
.server_message_collapse_header {
	font-size: 11px;
	font-weight: normal;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}

/*
	################################################################
		BUTTONS	
	################################################################
*/
.button_magnifier, .button_20, .button_30, .button_40, .button_50, .button_60, .button_70, .button_80, .button_90, .button_100, .button_110, .button_120, .button_130, .button_140, .button_150, .blue_button_20, .blue_button_30, .blue_button_40, .blue_button_50, .blue_button_60, .blue_button_70, .blue_button_80, .blue_button_90, .blue_button_100, .blue_button_110, .blue_button_120, .blue_button_130, .blue_button_140, .blue_button_150
{
	border: none;
	height: 20px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.button_magnifier
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_magnifier.png');
	width: 16px;
	height: 16px;
	margin-top: 3px;
}

.button_20
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_20.png');
	width: 20px;
}

.button_30
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_30.png');
	width: 30px;
}

.button_40
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_40.png');
	width: 40px;
}

.button_50
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_50.png');
	width: 50px;
}

.button_50:hover
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_50_hover.png');
}

.button_50:active
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_50_active.png');
}

.button_60
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_60.png');
	width: 60px;
}

.button_70
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_70.png');
	width: 70px;
}

.button_80
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_80.png');
	width: 80px;
}

.button_90
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_90.png');
	width: 90px;
}

.button_100
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_100.png');
	width: 100px;
}

.button_110
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_110.png');
	width: 110px;
}

.button_120
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_120.png');
	width: 120px;
}

.button_130
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_130.png');
	width: 130px;
}

.button_140
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_140.png');
	width: 140px;
}

.button_150
{
	background: url('http://images.hamsterpaj.net/ui/buttons/button_150.png');
	width: 150px;
}

.blue_button_20
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_20.png');
	width: 20px;
}

.blue_button_30
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_30.png');
	width: 30px;
}

.blue_button_40
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_40.png');
	width: 40px;
}

.blue_button_50
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_50.png');
	width: 50px;
}

.blue_button_60
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_60.png');
	width: 60px;
}

.blue_button_70
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_70.png');
	width: 70px;
}

.blue_button_80
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_80.png');
	width: 80px;
}

.blue_button_90
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_90.png');
	width: 90px;
}

.blue_button_100
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_100.png');
	width: 100px;
}

.blue_button_110
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_110.png');
	width: 110px;
}

.blue_button_120
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_120.png');
	width: 120px;
}

.blue_button_130
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_130.png');
	width: 130px;
}

.blue_button_140
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_140.png');
	width: 140px;
}

.blue_button_150
{
	background: url('http://images.hamsterpaj.net/ui/buttons/blue_button_150.png');
	width: 150px;
}

/*
	################################################################
	Tiny_reg_form. This is called from a javascript.
	################################################################
*/
#tiny_reg_form
{
	display: none;
	width: 500px;
	background: white;
	border: 1px solid white;
	margin: 50px auto auto;
	border: 1px solid #565656;
	padding: 10px;	
}
#tiny_reg_form_close
{
	float: right;
	cursor: pointer;
	margin-top: -10px;
	margin-right: -10px;
}
/*
	################################################################
	Rounded_corners. This is called from the rounded_corners functions
	################################################################
*/
.rounded_corners
{
	margin-top: 0;
	margin-bottom: 5px;
	padding: 0;
}
	.rounded_corners .top {
		padding: 0;
		margin: 0;
	}
	.rounded_corners .content {
		padding: 5px;
		margin: 0;
	}
	.rounded_corners .bottom {
		padding: 0;
		margin: 0;
	}

.rounded_corners_blue_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_blue_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_full_top.png) no-repeat top;
	}
	.rounded_corners_blue_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_full_bottom.png) no-repeat bottom;
	}

.rounded_corners_blue_deluxe_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_deluxe_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_blue_deluxe_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_deluxe_full_top.png) no-repeat top;
	}
	.rounded_corners_blue_deluxe_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_deluxe_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_red_alert_deluxe_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_alert_deluxe_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_red_alert_deluxe_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_alert_deluxe_full_top.png) no-repeat top;
	}
	.rounded_corners_red_alert_deluxe_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_alert_deluxe_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_white_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/white_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_white_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/white_full_top.png) no-repeat top;
	}
	.rounded_corners_white_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/white_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_orange_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_orange_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_full_top.png) no-repeat top;
	}
	.rounded_corners_orange_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_orange_deluxe_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_deluxe_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_orange_deluxe_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_deluxe_full_top.png) no-repeat top;
	}
	.rounded_corners_orange_deluxe_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_deluxe_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_green_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/green_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_green_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/green_full_top.png) no-repeat top;
	}
	.rounded_corners_green_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/green_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_red_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_red_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_full_top.png) no-repeat top;
	}
	.rounded_corners_red_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_full_bottom.png) no-repeat bottom;
	}
	
/*
	################################################################
	User message. This is used by message_top and message_bottom
	functions.
	################################################################
*/
.message {
	margin-top: 15px;
}
	.message .timestamp	{
		float: right;
	}
	.message a {
		border: none;
		color: black;
	}
	.message .user_avatar {
		width: 50px;
		height: 67px;
		float: left;
		clear: left;
	}
	.message .standard .container {
		background: url('http://images.hamsterpaj.net/message/message_entry_fill.png');
		margin-left: 48px;
		width: 590px;
	}
	.message .standard .top_bg {
		background: url('http://images.hamsterpaj.net/message/message_entry_top.png') no-repeat;
		padding-top: 3px;
	}
	.message .standard .bottom_bg {
		padding-bottom: 3px;
		padding-left: 20px;
		padding-right: 3px;
		background: url('http://images.hamsterpaj.net/message/message_entry_bottom.png') no-repeat left bottom;
	}
	
	.message .unread .container {
		background: url('http://images.hamsterpaj.net/message/message_unread_entry_fill.png');
			margin-left: 48px;
		width: 590px;
	}
	.message .unread .top_bg {
		background: url('http://images.hamsterpaj.net/message/message_unread_entry_top.png') no-repeat;
		padding-top: 3px;
	}
	.message .unread .bottom_bg {
		background: url('http://images.hamsterpaj.net/message/message_unread_entry_bottom.png') no-repeat left bottom;
		padding-bottom: 3px;
		padding-left: 20px;
		padding-right: 3px;
	}
	
.user_avatar {
	cursor: pointer;
}