/*
	################################################################
		Forum_posts
	################################################################
*/
#ui_module_latest_posts ul {
  margin: 0;
  padding-left: 8px;
}

#ui_module_latest_posts li 
{
  list-style: none;
  font-size: 8pt;
  margin-top: 5px;
}

/*
	################################################################
		Forum_threads
	################################################################
*/
#ui_module_latest_threads ul {
  margin: 0;
  padding-left: 8px;
}

#ui_module_latest_threads li 
{
  list-style: none;
  font-size: 8pt;
  margin-top: 5px;
}

/*
	################################################################
		Friends_notices
	################################################################
*/
#ui_module_friends_notices ul
{
	padding-left: 8px;
  margin: 0;
}

#ui_module_friends_notices ul li
{
	padding:  0px 0 2px 0px;
	height: 12px;
	list-style: none;
  font-size: 8pt;
  margin-top: 5px;
}

#ui_module_friends_notices ul li ul li
{
	height: auto;
}

#ui_module_friends_notices ul li div
{
	display: none;
}

#ui_module_friends_notices ul li div ul li
{
	background: none;
	padding: 0;
}

#ui_module_friends_notices ul li:hover div
{
	position: relative;
	display: block;
	width: 200px;
	left: -3px;
	padding: 0.7em;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 5px;
	background: #fff;
}


/*
	################################################################
		Friends_online
	################################################################
*/
#ui_module_friends_online ul {
  margin: 0;
  padding-left: 8px;
}

#ui_module_friends_online li 
{
  list-style: none;
  font-size: 8pt;
  margin-top: 5px;
}

#ui_module_friends_online p
{
  margin-bottom: 0;
}


/*
	################################################################
		Multisearch
	################################################################
*/
#ui_module_multisearch .ui_module_header {
  display: none;
}

#ui_module_multisearch .ui_module_content {
  padding: 0.7em;
}

#ui_modulebar #ui_module_multisearch {
  background: #d5e3ff;
}

#ui_multisearch {
	-moz-border-radius: 5px;
	border: 1px #fff;
	padding: 3px;
	width: 150px;
}

#ui_module_multisearch form {
	margin: 0;
	padding: 0;
}

/*
	################################################################
		Radio_sending
	################################################################
*/
#ui_module_radio_sending .ui_module_header {
  display: none;
}

#ui_modulebar #ui_module_radio_sending {
  background: url(http://images.hamsterpaj.net/radio/ui_module.png);
  height: 78px;
}

#ui_module_radio_sending  .ui_module_content {
	padding: 0;
}

#ui_module_radio_sending a {
	display: block;
	width: 200px;
	height: 78px;
}

/*
	################################################################
		Online_ovs
	################################################################
*/
.ovlist ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.ovlist li
{
	margin: 0px 0px 0px 15px;
	list-style-type: square;
}

/*
	################################################################
		Profile_visitors
	################################################################
*/
#ui_module_profile_visitors ul
{
	margin: 0px;
	padding: 0px;
}
#ui_module_profile_visitors li
{
	float: left;
	list-style-type: none;
	border: 1px solid #ededed;
	padding: 2px;
	background: white;
	margin: 0 3px 3px 0;
}
#ui_module_profile_visitors img
{
	width: 37px;
	height: 50px;
	display: block;
}
#ui_module_profile_visitors a
{
	border: none;
}
#ui_module_profile_visitors .show_more_link
{
	display: block;
}


/*
	################################################################
		Site_stats
	################################################################
*/
#ui_module_site_stats h4 
{
	margin: 5px 0 2px 0;
}

/*
	################################################################
		Google_adsense
	################################################################
*/
#ui_module_google_adsense  .ui_module_content {
	background-color: #F0F0F0;
}

#ui_module_google_adsense .ui_module_header {
  display: none;
}

#ui_module_google_adsense .ui_module_content {
  padding: 0;
}

/*
	################################################################
		Ad_module
	################################################################
*/
#ui_module_ad_module  .ui_module_content {
	background-color: #F0F0F0;
}

#ui_module_ad_module .ui_module_header {
  display: none;
}

#ui_module_ad_module .ui_module_content {
  padding: 0;
}