.tagMatches
{
	height: 20px;
	margin-left: 40px;
	margin-top: 10px;
}

.mastertags
{
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
	height: 20px;
}

.mastertags input
{
	display: none;
}

.tagMatches span, .mastertags label
{
	padding: 4px;
	margin-right: 4px;
	background-color: green;
	color: #fff;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
}

.mastertags label, .mastertags label:after
{
	content: '';
	background-color: #adadad;
}

.mastertags label:hover, .mastertags .active
{
	background-color: green;
}

.mastertags .active:hover
{
	background-color: #adadad;
}

#tags
{
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 4px;
	width: 300px;
}