.digga_classification_form label
{
	width: 40px;
	display: block;
	float: left;
}

.classification_label
{
	width: 165px !important;
}

.digga_classification_form p
{
	height: 10px;
}


.digga_classification_form ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.digga_classification_form select
{
	clear: left;
	width: 150px;
	margin-right: 10px;
}

.fans .user_profile_mini
{
	margin-right: 15px;
	margin-bottom: 5px;
	float: left;
}

.artist_radar
{

}

.artist_battle
{
	padding-bottom: 50px;
}

.artist_battle .container
{
	float: left;
}

.artist_battle .bar_wrapper
{
	height: 150px;
	position: relative;
}

.artist_battle .bar
{
	margin: 5px;
	background: #f5ba4d;
	border: 1px solid #bd842b;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	position: absolute;
	bottom: 0px;
	width: 90%;
}

.artist_battle .bar:hover
{
	background: #f6c25e;
}


.digga_artist_mini
{
	float: left;
	width: 145px;
	padding: 3px;
	border: 1px solid #f2f2f2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 3px;
	overflow: hidden;
}

.digga_artist_mini h5
{
	margin: 0px;
}

.digga_start_latest
{
	height: 75px;
}

.digga_start_user_idols
{
	float: right;
	height: 350px;
	overflow: auto;
	width: 161px;
}