.free_music_songs .player
{
	float: left;
	margin-right: 25px;
}

.free_music_discuss
{
	text-align: right;
	margin-bottom: 0px;
}

.free_music_songs
{
	margin-top: 0px;
	margin-bottom: 50px;
}

.free_music_songs dt
{
	font-weight: bold;
	padding-bottom: 5px;
}

.free_music_artist
{
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	height: 85px;
}

.free_music_artist img
{
	width: 100px;
	height: 75px;
	border: 5px solid white;
	margin-right: 10px;
	float: left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

.free_music_artist h2
{
	margin-top: 0px;
	font-style: italic;
}

.free_music_artist div
{
	width: 490px;
	float: left;
}


.dia_psalma
{
	background: black;
	color: #ababab;
}

.dia_psalma h2
{
	color: #f2f2f2;
}


.ck
{
	background: #f479b0 url('http://static.hamsterpaj.net/images/misc/free_music/ck_background.jpg');
	color: white;
}

.cirkus_miramar
{
	background: #6d788f;
	color: black;
}

.fronda
{
	background: #f479b0 url('http://static.hamsterpaj.net/images/misc/free_music/fronda_background.png');
	color: white;
}

.fronda img
{
	border-color: #323232;
}

.dubmood
{
	background: #262b24 url('http://static.hamsterpaj.net/images/misc/free_music/dubmood.jpg');
	color: #f2f2f2;
	font-size: 12px;
}

.dubmood p
{
	margin-top: 0px;
}

.beastie_boys
{
	background: #ababab;
}

.dan_the_automator
{
	background: #e9e3a9;
	color: #565656;
}


.virtual_voices
{
	padding-left: 120px;
	background: black url('http://static.hamsterpaj.net/images/misc/free_music/virtual_voices.png');
	color: #cccc00;
}

.troed
{
	color: #df341a;
	border: 1px solid #df341a;
}

.peaches
{
	background: #fbe443;
	color: #2a2a0f;
}

.bazooka_circus
{
	background: black url('http://static.hamsterpaj.net/images/misc/free_music/bazooka_circus.png');
	color: #f2f2f2;
	padding-left: 170px;
}

.bazooka_circus h2
{
	margin-left: 50px;
}


.power_music_electric_revival
{
	background: #5f0001 url('http://static.hamsterpaj.net/images/misc/free_music/power_music_electric_revival.jpg');	
	color: white;
	padding-left: 415px;
}