h1.entertain_head { 
	margin: 0; 
	font-size: 25px; 
	margin-bottom: 10px;
}

#object_name { width: 300px; }

label:after { content: ''; }

#object_name input[type='text'] { 
	border: 1px solid #898989;
	font-size: 20px;
	color: #333;
	padding: 5px;
	width: 280px;
	margin-top: 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#object_name input[type='text']:focus { border: 1px solid #e09000; }

#object_type select, #object_category select { 
	width: 312px;
	padding: 4px;
	border: 1px solid #898989;
	font-size: 20px;
	color: #333;
	margin-top: 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#object_type select:focus, #object_category select:focus { border: 1px solid #e09000; }

#object_type option:nth-child(odd), #object_category option:nth-child(odd) { 
	background-color: #EDF5FA;
}

#object_type {
	float: right;
	margin-top: -60px;
	width: 310px;
}

#object_category select { width: 292px; }

#object_category { margin-top: 10px; }

.hp_button
{
	font-size: 19px;
	letter-spacing: -0.5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: url("http://static.hamsterpaj.net/images/layouts/amanda/button_bg.png") top left transparent no-repeat;
	border: 0;
	padding: 5px;
	width: 118px;
	color: #634b2f;
	margin: 12px 0 0 0;
}

.hp_button:hover
{
	color: #523d24;
	background: url("http://static.hamsterpaj.net/images/layouts/amanda/button_bg.png") bottom left transparent no-repeat;
}

#step h2 {
	background-color: #E1EBF2;
	border-bottom: 1px solid #BFD1DD;
	border-top: 1px solid #BFD1DD;
	font-weight: bold;
	margin: -9px -10px 10px;
	padding: 5px 5px 5px 10px;
}

#step h3 {
	font-weight: normal;
	margin: 0;
}

#step { 
	background-color: #F0F0F0;
	border-top: 1px solid #D4D4D4;
	margin-top: 0;
	padding: 8px 10px 10px;
}

#step h2 #help_text {
	font-size: 11px;
	font-weight: normal;
}

.textarea_full {  width: 600px !important; }

#entertain_preview_upload { margin-bottom: 10px; }

#activate {
	padding: 0;
	list-style: none;
	line-height: 2.5;
}