.entertain_download
{
	background: url(http://static.hamsterpaj.net/images/entertain/file_template.png) no-repeat;
	height: 142px;
	width: 638px;
	padding: 30px 10px 10px 10px;
}

.entertain_download input[type=submit]
{
	height: 66px;
	width: 220px;
	border: 0px;
	cursor: pointer;
	background: url(http://static.hamsterpaj.net/images/entertain/download_button.png) no-repeat;  
	text-indent: -10000px;
	float: left;
	margin: 15px 0 0 10px;
} 

.entertain_download h1
{
	margin: 30px 0 0 140px;
}                        

.entertain_download .info
{
	padding: 20px 20px 0 360px;
	line-height: 20px;
	margin-top: 15px;
}          

.entertain_download img
{
	width: 120px;
	height: 125px; 
	float: left;
	margin-top: 20px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                