.entertain_preview
{
	padding: 0px;
	margin-top: 0;
}

.entertain_preview li
{
	position: relative;
	border: 1px solid #373737;
	-moz-border-radius: 3px;
	height: 70px;
	width: 305px;
	overflow: hidden;
	float: left;
	margin: 5px;
}

.entertain_preview li img
{
	position: absolute;
}

.entertain_preview li h4
{
	position: absolute;
	background: black;
	color: white;
	width: 100%;
	opacity: 0.75;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	margin-top: 0px;
	padding-top: 0px;
	text-indent: 5px;
	font-weight: bold;
}

.entertain_preview li .type
{
	background: black;
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	opacity: 0.7;
	-moz-border-radius-topleft: 3px;
}



.entertain_preview_full
{
	position: relative;
	border: 1px solid #373737;
	-moz-border-radius: 5px;
	height: 150px;
	overflow: hidden;
	clear: both;
}

.entertain_preview_full .label
{
	position: absolute;
}

.entertain_preview_full h2
{
	position: absolute;
	color: white;
	opacity: 0.8;
	font-weight: bold;
	font-size: 30px;
	font-family: trebuchet ms, arial, verdana, helvetica;
	background: black;
	margin-top: 0px;
	display: block;
	width: 100%;
	padding: 0px;
	text-indent: 15px;
}