.entertain_comments
{
	margin-top: 25px;
	width: 300px;
	float: left;
}

.entertain_related
{
	margin-top: 25px;
	float: left;
	width: 307px;
	padding-left: 25px;
}

.entertain_iframe
{
	width: 638px;
	height: 638px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid;
	scroll: auto;
}