body
{
	background: #8ec0e5 url(http://static.hamsterpaj.net/images/layouts/amanda/repeat-x-sprites.png) repeat-x 0 -241px;
	font-family: tahoma, arial, "ms trebuchet", sans-serif, serif;
	color: #323232;
	font-size: 0.7em;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}

a
{ 
	color: #000;
	text-decoration: none; 
}

a:hover
{
	text-decoration: underline; 
}

a img
{
	border: none;
}

img
{
	display: block;
}

h1, h2, h3, h4, h5, h6 
{
	font-weight: normal;
	color: #111;
}

h1
{
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2
{
	font-size:1.5em;
	margin-bottom:0.5em;
	border-bottom: 1px solid #ccc;
}

h3
{
	font-size: 1.3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h4
{
	font-size:1.2em;
	line-height:1.25;
	margin-bottom:1.25em;
}

h5
{
	font-size:1em;
	font-weight:bold;
	margin-bottom:1.5em;
}

h6
{
	font-size:1em;
	font-weight:bold;
}

p 
{
	margin:0 0 1.5em;
	line-height: 1.2;
}

label
{
	font-weight: normal;
}

label:after
{
	content: ':';
}

ul
{
	padding-left: 30px;
}

dd
{
	margin-left: 20px;
}

.clear{
	clear: both;
}

#wrapper
{
	width: 1200px;
}

#column_ads
{
	padding-top: 50px;
}

#hp
{
	/*border: 1px solid #6188A4;*/
	background: #fff;
	width: 880px;
	margin: 10px;
	float: left; /* Makes it possible to have ad's floating on the right side of the page */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#hp #head
{
	background: #e3e3e3 url('http://static.hamsterpaj.net/images/layouts/amanda/repeat-x-sprites.png') repeat-x 0 -168px;
	height: 73px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
}

#hp #head h2
{
	border-bottom: 0;
	float: left;
	height: 73px;
	width: 357px;
	text-indent: -500px;
	margin: 0 5px 0 10px;
	background: url('http://static.hamsterpaj.net/images/layouts/amanda/head-sprites.png') no-repeat 0 0;
}

    #hp #head h2 a
    {
	height: 73px;
	width: 357px;
	overflow: hidden;
	display: block;
	position: relative;
    }

#hp #head #login
{
	float: left;
	display: block;
	padding-top: 15px;
	width: 490px;
}

#hp #head #login span
{
	display: block;
	float: left;
	width: 120px;
	margin-left: 10px;
}

#head #login input
{
	width: 110px;
}

#hp #head #login .buttons
{
	width: 180px;
	padding-top: 16px;
}

#hp #head #login .buttons input
{
	width: auto;
}

#notices { 
	margin: 0;
}

	#notices li.notice_panel {
		list-style: none;
		text-align: center;
		float: left;
		width: 70px;
		height: 23px;
	}
	
	#notices ul { margin: 0; padding: 0;}
		
	#notices li.notice_panel a.notice_icon {
		display: block;
		width: 70px;
		height: 23px;
		padding-top: 50px;
		color: #717171;
	}
	
	#notices li a:hover { color: #333; }

	#notices #notices_guestbook a { background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") no-repeat; }
		#notices #notices_guestbook a:hover { background-position: 0 -73px; color: #333; }
		#notices li#notices_guestbook.active a, #hp #head #notices li#notices_guestbook.active a:hover { background-position: 0 -146px; color: #333;}
	#notices #notices_forum a { background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") -70px 0 no-repeat; }
		#notices #notices_forum a:hover { background-position: -70px -73px; color: #333; }
		#notices li#notices_forum.active a, #hp #head #notices li#notices_forum.active a:hover { background-position: -70px -146px; color: #333;}
	#notices #notices_groups a { background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") -140px 0 no-repeat; }
		#notices #notices_groups a:hover { background-position: -140px -73px; color: #333; }
		#notices li#notices_groups.active a, #hp #head #notices li#notices_groups.active a:hover { background-position: -140px -146px; color: #333; }
	#notices #notices_events a{ background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") -210px 0 no-repeat;}
		#notices #notices_events a:hover { background-position: -210px -73px; color: #333; }
		#notices li#notices_events.active a, #hp #head #notices li#notices_events.active a:hover { background-position: -210px -146px; color: #333;}

	#notices li.notice_panel:hover div.notices_information {
	    display: block;
	}
	
	#notices li div.notices_information {
		position: relative;
		background: url(http://static.hamsterpaj.net/images/packages/base/layouts/amanda/notices_information_bg.png) repeat-x;
		width: 250px;
		padding: 0 3px;
		display: none;
		z-index: 100;
		text-align: left;
		left: -90px;
		top: -5px;
	}
	
	    #hp #head #notices div.notices_information h4 a {
		background: none;
	    }

	#notices li div.notices_information #footer {
		display: block;
		height: 11px;
		width: 256px;
		background: url(http://static.hamsterpaj.net/images/packages/base/layouts/amanda/notices_information_footer.png) no-repeat;
		margin-left: -3px;
		position: absolute;
	}
	
	#notices li div.notices_information .unread {
		font-weight: bold;
		background-color: #d0e0c0 !important;
	}
	
	#notices li div.notices_information ul {
		padding: 0;
	}
	
	#notices li div.notices_information li {
		list-style: none;
	}
	#notices li div.notices_information li a {
		background: none !important;
		display: block;
		height: 20px;
		padding: 2px 10px 0 10px;
	}
	#notices li div.notices_information li.n1 {
		background-color: #e7e7e7;
	}
	
	#notices li div.notices_information li.n2 {
		background-color: #f0f0f0;
	}
	
	#notices li div.notices_information h4 {
		margin: 0;
		padding: 0;
		font-size: 16px;
		text-align: center;
		font-weight: normal;
		padding: 15px 0 0;
		margin-bottom: 4px;
	}
	
	#notices_information_footer {
		display: block;
		width: 199px;
		height: 15px;
		background-color: grey;
	}
	
/**
*	Login status
*/
#hp #head #status
{
	float: left;
	width: 215px;
	padding-top: 7px;
	margin-left: 10px;
	line-height: 19px;
	color: #717171;
}

#hp #head #status a {
	color: #333;
}

#hp #head #status #ui_statusbar_forumstatus { color: #333; }

#hp #head #status .user_avatar
{
	width: 45px;
	height: 58px;
	float: left;
	margin-right: 10px;
	border-bottom: 1px solid #fff;
}

#content
{
	padding: 10px;
	width: 636px;
	float: left;
}

/**
* Modules
*/
#hp #modules
{
	background: #F0F0F0;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	width: 200px;
	margin-left: 660px;
	padding: 10px 10px 1px;
}

#hp #modules .module
{
	background: white;
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	padding-top: 3px;
	border: 1px solid #e0e0e0;
}

#hp #modules h5 { 
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 4px 12px;
}

#hp #modules ul { margin: 0; }

#hp #modules a.minimize {
	display: block;
	width: 7px;
	height: 7px;
	outline: none;
	text-indent: -999em;
	background: url('http://images.birdy.nu/images/minimize.png') no-repeat;
	position: absolute;
	margin-top: 10px;
	
}

.textarea_full
{
	border: 1px solid #ababab;
	padding: 5px;
	-moz-border-radius: 3px;
	width: 625px;
	height: 500px;
}

#wrapper
{
	width: 1200px;
}

#column_ads
{
	padding-top: 50px;
}

#daniella
{
	position: absolute;
	float: left;
}

/**
* Framework
*/
#debug
{
	position: absolute;
	margin: 0px;
	right: 0px;
	width: 250px;
	padding: 20px;
	opacity: 0.8;
	background: white;
	-moz-border-radius-bottomleft: 8px;
	max-height: 90%;
	overflow: auto;
	float: right;
	z-index: 1000;
}

#debug dt
{
	font-weight: bold;
}

#debug .calling_function
{
	color: #858585;
}

/**
* Notifications
*/

.notification
{
    border: 1px solid #C2D6FF;
    background: #D5E3FF;
    padding: 1em;
    margin-bottom: 1em;
}

    .notification h1
    {
	margin: 0;
    }

    .notification.error
    {
	border: 1px solid #A45A30;
	background: #FFA57D;
    }
