body {
    background: #324878 url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/background.png") repeat-x;
}

#content {
    padding: 0 10px 10px 10px;
}

#hp #head {
    background: transparent url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/header_halloween.png") no-repeat;
    color: #b5ce85;
}

#hp #head h2 {
    background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/logo_halloween.png") no-repeat;
}


#hp #head #status a {
    color: #B5CE85;
}

    #notices #notices_guestbook a.notice_icon { background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/notices_halloween.png") no-repeat; }
	#notices #notices_guestbook a.notice_icon:hover { background-position: 0 -73px; color: #d5eea7; }
	#notices li#notices_guestbook.active a.notice_icon, #hp #head #notices li#notices_guestbook.active a.notice_icon:hover { background-position: 0 -146px; color: #d5eea7;}
    #notices #notices_forum a.notice_icon { background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/notices_halloween.png") -70px 0 no-repeat; }
	#notices #notices_forum a.notice_icon:hover { background-position: -70px -73px; color: #d5eea7; }
	#notices li#notices_forum.active a.notice_icon, #hp #head #notices li#notices_forum.active a:hover { background-position: -70px -146px; color: #d5eea7;}
    #notices #notices_groups a.notice_icon { background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/notices_halloween.png") -140px 0 no-repeat; }
	#notices #notices_groups a.notice_icon:hover { background-position: -140px -73px; color: #d5eea7; }
	#notices li#notices_groups.active a.notice_icon, #hp #head #notices li#notices_groups.active a.notice_icon:hover { background-position: -140px -146px; color: #d5eea7; }
    #notices #notices_events a.notice_icon{ background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/notices_halloween.png") -210px 0 no-repeat; }
	#notices #notices_events a.notice_icon:hover { background-position: -210px -73px; color: #d5eea7; }
	#notices li#notices_events.active a.notice_icon, #hp #head #notices li#notices_events.active a.notice_icon:hover { background-position: -210px -146px; color: #d5eea7; }
                
#notices li.notice_panel a.notice_icon {
    color: #B5CE85;
}

#notices li.notice_panel a.notice_icon {
    padding-top: 55px;
}

#notices .notice_panel a:hover {
    color: #333;
}

#notices li div.notices_information h4 a,
#notices li div.notices_information li a {
        color: #333;
}

#notices li div.notices_information h4 a:hover,
#notices li div.notices_information li a:hover {
        color: black;
}

#hp #head #status #ui_statusbar_forumstatus {
    color: #B5CE85;
}

#hp #head #status {
    color: #5e5d75;
    line-height: 19px;
}

#hp #main_menu { 
  background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/sprites_halloween.png") 0 -73px repeat-x;
  color: #d8d3d1;
}
  
    #hp #main_menu li.direct_child {
	background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/sprites_halloween.png") 0 -104px no-repeat;
    }
  
	#hp #main_menu li.direct_child a.direct_child { 
		background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/menu_item_sprite_halloween.png") right -185px;
                  color: #d8d3d1;
	}

#hp #main_menu li.active_menu:hover,
#hp #main_menu li.direct-child.active_menu  {
	background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/sprites_halloween.png") 0 -135px repeat-x;
}
 
 	#hp #main_menu li.direct_child:hover {
	    background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/sprites_halloween.png") 0 -166px repeat-x;
	}
	
	#hp #main_menu li.active_menu a.direct_child:hover,
	#hp #main_menu .active_menu a.direct_child {
		background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/menu_whereat_halloween.png") center !important;
	}
	
	#hp #main_menu li a.direct_child:hover {
		background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/menu_item_sprite_halloween.png") top right;
	}
        
	/* This provides an alternative style for IE 6 active, which was buggy. */
	* html #hp #main_menu li.active_menu a.direct_child {
		background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/sprites_halloween.png") 0 -166px repeat-x; 
	}
        
        #hp #main_menu .active_menu.small a.direct_child,
	#hp #main_menu .active_menu.small a.direct_child:hover {
            color: white;
        }

#hp .main_menu_sub { 
	background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/sprites_halloween.png") 0 -197px repeat-x;
}
	#hp .main_menu_sub li.active {
	    background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/menu_item_sprite_halloween.png") repeat-x bottom right;
	}
	
	#hp .main_menu_sub li.active a {
	    background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/sprites_halloween.png") no-repeat 0 -257px;
	}
        
#hp #head #status {
    background: url("http://static.hamsterpaj.net/images/packages/base/layouts/halloween/grave.png") no-repeat transparent;
    margin-left: 0;
    padding-left: 9px;
    height: 65px;
}