.rubrik 
{
font-weight: bold;
font-size: 16px;
}
.profilteman .imgdiv
{
}
.profilteman .textdiv
{
	margin-top: -114px;
	padding-left: 160px;
	height: 114px;
}
.css
{
	width: 630px;
	height: 150px;
}

