#side_module_forum_threads ul,
#side_module_forum_posts ul
{
	list-style-type: none;
	padding: 0px;
}

.ui_module_latest_posts_written {
	color: #979797;
	font-size: 11px;
}

#hp #modules #side_module_forum_threads li,
#hp #modules #side_module_forum_posts li {
	height: 20px;
	padding-top: 2px;
	padding-left: 5px;
}

#hp #modules #side_module_forum_threads ul li.even,
#hp #modules #side_module_forum_posts ul li.even { background-color: #edf5fa !important; }