#side_module_forum_posts ul
{
	list-style-type: none;
	padding: 0px;
}

.ui_module_latest_posts_written {
	color: #979797;
	font-size: 11px;
}
  
#hp #modules #side_module_forum_posts li {
	height: 20px;
	padding-top: 2px;
	padding-left: 10px;
}

#hp #modules #side_module_forum_posts ul li:nth-child(odd) { background-color: #edf5fa !important; }