#side_module_profile_visitors
{
	padding-left: 7px !important;
}

#side_module_profile_visitors ul
{
	list-style-type: none;
	padding: 0px;
	height: 122px;
	margin-left: 1px;
}

#side_module_profile_visitors ul li
{
	padding: 2px;
	border: 1px solid #dbdbdb;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	float: left;
	display: block;
	margin-right: 4px;
	margin-bottom: 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#side_module_profile_visitors ul li.visitor_4, #side_module_profile_visitors ul li.visitor_8 {
	margin-right: 0;
}

#side_module_profile_visitors img
{
	width: 37px;
	height: 50px;
}

#side_module_profile_visitors a.show_more_link {
	display: block;
	height: 21px;
	width: 184px;
	margin: 0 0 2px 0;
	padding: 3px 0 0 0;
	text-align: center;
	background: url("http://static.hamsterpaj.net/images/packages/base/layouts/amanda/profile_visitors_button.jpg") no-repeat;
}

