#side_module_search
{
	background: #D5E3FF !important;
	padding: 4px !important;
	position: relative;
	border: 0 !important;
	min-height: 33px;
}

#side_module_search form
{
	padding: 0;
	margin: 0;
	positon: relative;
}

#side_module_search input[type="text"]
{
	display: block;
	border: 0;
	font-size: 16px;
	color: #c7c7c7;
	width: 147px;
	padding: 0;
	margin: 0;
	padding: 6px;
	height: 19px;
	border: 1px solid #b2caff;
	border-right: 0;
	position: absolute;
	top: 4px;
	line-height: none;
}

#side_module_search input[type="text"]:focus
{
	color: #333;	
}

#side_module_search input[type="submit"]
{
	background: url("http://static.hamsterpaj.net/images/layouts/amanda/search.png") no-repeat #eff4f8 center;
	border: 0;
	width: 33px;
	height: 33px;
	padding: 5px;
	margin: 0;
	right: 4px;
	position: absolute;
	border: 1px solid #b2caff;
	border-left: none;
	cursor: pointer;
	text-indent: -999em;
	display: inline;
	top: 4px;
}

#side_module_search input[type="submit"]:hover {
	background-color: #f8f3ef;
	background-position: center;
}

#side_module_search input[type="submit"]:active {
	background-color: #e6f0f8;
	background-position: center;
}

#side_module_search #livesearch_results { display: none; }

#side_module_search .suggestions {
	position: relative;
	margin: 36px 0 0 0;
	border: 1px solid #c2d6ff;
	border-top: 0;
	padding: 0;
}

#side_module_search .suggestions p {
	display: none;
}

#side_module_search h2 {
	background: #eff4f8;
	border-bottom: 1px solid #c2d6ff;
	border-top: 1px solid #c2d6ff;
	padding: 3px;
	padding-left: 6px;
	font-size: 15px;
	margin: 0px;
}

#side_module_search .category {
	background: #fff;
	padding: 3px;
	margin-top: 0;
}

#side_module_search .item {
	padding: 3px;
}