#hp #modules #side_module_statistics {
	padding: 3px 6px 6px;
}

#hp #modules #side_module_statistics ul {
	list-style: none;
	padding: 0 0 0 5px;
}

#hp #modules #side_module_statistics li {
	height: 19px;
}

#hp #modules #side_module_statistics .right {
	float: right;
}