#hp #modules #side_module_statistics {
	padding: 3px 0 8px 0;
}

#hp #modules #side_module_statistics h5 {
	margin-left: 19px;
}

#hp #modules #side_module_statistics ul {
	list-style: none;
	padding: 0 10px;
}

#hp #modules #side_module_statistics li {
	height: 19px;
}

#hp #modules #side_module_statistics a.minimize {
    margin-left: 6px;
}

#hp #modules #side_module_statistics .right {
	float: right;
}