/**
* General rules
*/

body
{
	background: #8ec0e5 url(http://static.hamsterpaj.net/images/layouts/amanda/repeat-x-sprites.png) repeat-x 0 -241px;
	font-family: tahoma, arial, "ms trebuchet", sans-serif, serif;
	color: #323232;
	font-size: 0.7em;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}

a
{ 
	color: #000;
	text-decoration: none; 
}

a:hover
{
	text-decoration: underline; 
}

a img
{
	border: none;
}

img
{
	display: block;
}

h1, h2
{
	font-family: tahoma, ms trebuchet, arial, verdana, helvetica;
	font-size: 2em;
	font-weight: normal;
}

h2, h3, h4, h5, h6
{
	margin-top: 10px;
}

h2
{
	font-size: 1.5em;
}

h3
{
		font-size: 1.3em;
}

h5
{
	font-weight: 800;
}

label
{
	font-weight: bold;
}

label:after
{
	content: ':';
}

ul
{
	padding-left: 30px;
}

dd
{
	margin-left: 20px;
}

.clear{
	clear: both;
}

#wrapper
{
	width: 1200px;
}

#column_ads
{
	padding-top: 50px;
}

#hp
{
	/*border: 1px solid #6188A4;*/
	background: #fff;
	width: 880px;
	margin: 10px;
	float: left; /* Makes it possible to have ad's floating on the right side of the page */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#hp #head
{
	background: #e3e3e3 url('http://static.hamsterpaj.net/images/layouts/amanda/repeat-x-sprites.png') repeat-x 0 -168px;
	height: 73px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
}

#hp #head h2
{
	float: left;
	height: 73px;
	width: 357px;
	text-indent: -500px;
	margin: 0 0 0 10px;
	background: url('http://static.hamsterpaj.net/images/layouts/amanda/head-sprites.png') no-repeat 0 0;
}

#hp #head #login
{
	float: left;
	display: block;
	padding-top: 15px;
	width: 490px;
}

#hp #head #login span
{
	display: block;
	float: left;
	width: 120px;
	margin-left: 10px;
}

#head #login input
{
	width: 110px;
}

#hp #head #login .buttons
{
	width: 180px;
	padding-top: 16px;
}

#hp #head #login .buttons input
{
	width: auto;
}

#notices { 
	margin: 0;
}

	#notices li {
		list-style: none;
		text-align: center;
		float: left;
		width: 70px;
		height: 23px;
	}
	
	#notices ul { margin: 0; padding: 0;}
		
	#notices li a{
		display: block;
		width: 70px;
		height: 23px;
		padding-top: 50px;
		color: #717171;
	}
	
	#notices li a:hover { color: #333; }

	#hp #head #notices #notices_guestbook a { background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") no-repeat; }
		#hp #head #notices #notices_guestbook a:hover { background-position: 0 -73px; color: #333; }
		#hp #head #notices li#notices_guestbook.active a, #hp #head #notices li#notices_guestbook.active a:hover { background-position: 0 -146px; color: #333;}
	#hp #head #notices #notices_forum a { background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") -70px 0 no-repeat; }
		#hp #head #notices #notices_forum a:hover { background-position: -70px -73px; color: #333; }
		#hp #head #notices li#notices_forum.active a, #hp #head #notices li#notices_forum.active a:hover { background-position: -70px -146px; color: #333;}
	#hp #head #notices #notices_groups a { background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") -140px 0 no-repeat; }
		#hp #head #notices #notices_groups a:hover { background-position: -140px -73px; color: #333; }
		#hp #head #notices li#notices_groups.active a, #hp #head #notices li#notices_groups.active a:hover { background-position: -140px -146px; color: #333; }
	#hp #head #notices #notices_events a{ background: url("http://static.hamsterpaj.net/images/layouts/amanda/notices.png") -210px 0 no-repeat;}
		#hp #head #notices #notices_events a:hover { background-position: -210px -73px; color: #333; }
		#hp #head #notices li#notices_events.active a, #hp #head #notices li#notices_events.active a:hover { background-position: -210px -146px; color: #333;}

/**
*	Login status
*/
#hp #head #status
{
	float: left;
	width: 215px;
	padding-top: 8px;
	margin-left: 10px;
	line-height: 18px;
	color: #717171;
}

#hp #head #status a {
	color: #333;
}

#hp #head #status #ui_statusbar_forumstatus { color: #333; }

#hp #head #status .user_avatar
{
	width: 45px;
	height: 58px;
	float: left;
	margin-right: 10px;
}

#content
{
	padding: 10px;
	width: 636px;
	float: left;
}

/**
* Modules
*/
#hp #modules
{
	background: #F0F0F0;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	width: 200px;
	margin-left: 660px;
	padding: 10px 10px 1px;
}

#hp #modules .module
{
	background: white;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	padding-top: 0;
}

#hp #modules h5 { 
	font-size: 11px;
}