#side_module_search
{
	background: #D5E3FF !important;
	padding: 10px !important;
}

#side_module_search input[type="submit"]
{
	background: url('http://static.hamsterpaj.net/images/icons/16x16/magnifier.png') no-repeat;
	border: none;
}
