#daniella
{
	position: absolute;
	float: left;
}

/**
* Framework
*/
#debug
{
	position: absolute;
	margin: 0px;
	right: 0px;
	width: 250px;
	padding: 20px;
	opacity: 0.5;
	background: white;
	-moz-border-radius-bottomleft: 8px;
	max-height: 90%;
	overflow: auto;
	float: right;
}

#debug dt
{
	font-weight: bold;
}
