.user_profile_mini
{
	padding: 3px;
	border: 1px solid #f2f2f2;
	-moz-border-radius: 2px;
	width: 185px;
}

.user_profile_mini img
{
	width: 35px;
	height: 47px;
	float: left;
	margin-right: 3px;
}

.user_profile_mini
{
	height: 47px;	
}

.user_profile_mini h3
{
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}



