.mobile_blog_list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
}

.mobile_blog_list > li
{
	border: 1px solid #F2F2F2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	min-height: 73px;
	margin: 10px 0;
}

.mobile_blog_list > li:hover
{
	border-color: #E6E6E6;
}

.mobile_blog_list > li > .avatar
{
	width: 55px;
	height: 73px;
	margin-right: 10px;
	float: left;
}

.mobile_blog_list > li > .content
{
	margin-left: 65px;
}

.mobile_blog_list > li > .content > p
{
	margin: 5px 0;
}

.mobile_blog_list > li > .content > h2
{
	margin-top: 0;
}

.mobile_blog_list > li > .content > .timestamp
{
	color: #878787;
}

.mobile_blog_list > li .comments
{
	margin-top: 10px;
	clear: both;
}

#mobile_blog_howto_module
{
	background: #FFF9ED;
	border: 1px solid #F2F2F2;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mobile_blog_howto_module h2
{
	margin-top: 0;
}

#mobile_blog_howto_module ol
{
	margin-left: 30px;
	font-size: 1.3em;
	font-family: georgia;
}

.mobile_blog_form
{
	background: #FFE7B8;
	padding: 10px;
	margin: 10px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #FFDF9E;
}

.mobile_blog_form h2
{
	margin: 0 20px 0 0;
	float: left;
}

.mobile_blog_form .text
{
	width: 300px;	
}

.mobile_blog_menu
{
	padding: 10px 10px 10px 20px;
	margin: 10px 0;
	background: url(http://static.hamsterpaj.net/images/gradients/orange.png);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mobile_blog_menu ul
{
	margin: 0;
	padding: 0;
}

.mobile_blog_menu li
{
	display: inline;
	margin-right: 20px;
}

.mobile_blog_register_number
{
	background: #FFF9ED;
	border: 1px solid #F2F2F2;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mobile_blog_register_number h2
{
	margin: 0;
}

.mobile_blog_register_number .sms
{
	margin-top: 0;
}

.mobile_blog_register_number .number
{
	margin-top: 0;
}