#alphabet_container
{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 15px;
	border: 1px solid #ababab;
	-moz-border-radius: 5px;
}

#alphabet_container p
{
	font-weight: bold;
	font-size: 27px;
	color: #cdcdcd;
	height: 0px;
	overflow: visible;
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, sans-serif;
}

#alphabet_input
{
	font-family: verdana, arial, sans-serif;
	background: transparent;
	font-weight: bold;
	font-size: 27px;
	color: #565656;
	padding: 0px;
	border: none;
	width: 100%;
	text-transform: uppercase;
}


#alphabet_focus
{
	font-size: 40px;
}

#alphabet_timer
{
	display: none;
	font-size: 40px;
}

#alphabet_timer span
{
	color: black;
	font-size: 50px;
	font-weight: bold;
}

