.profile_phrosen_dancer .profile_head
{
	background: url('http://images.hamsterpaj.net/profile_themes/phrosen_dancer/profile_head_bg.png');
	color: #eee;
}

.profile_phrosen_dancer .navigation a

{
	color: #eeeeee;
}

.profile_phrosen_dancer .profile_head a

{
	color: #eeeeee;
}

.profile_phrosen_dancer .profile_head .user_action_log li a
{
	text-decoration: underline;
}
.profile_phrosen_dancer .profile_head .avatar_passepartout

{
	color: #eeeeee;
	padding: 8px;
	background: #8d1616;
}