body
{
	background: #d9e5ed;
	padding-left: 20px;
	padding-right: 20px;
}

#user_status
{
	font-size: 18px;
	font-family: "trebuchet ms", arial, verdana, serif;
	text-align: center;
	background: white;
}

#passepartout
{
	width: 320px;
	background: white;
	padding: 20px;
	border: 1px solid #ababab;
}

#user_avatar
{
	border: 1px soldid #565656;
	cursor: pointer;
}

#controls
{
	padding-top: 20px;
	text-align: center;
}