#gb_autoreport_strings
{
	width: 100%;
}

#gb_autoreport_strings td, #gb_autoreport_strings th 
{
	border-bottom: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

#gb_autoreport_posts
{
	width: 100%;
}

#gb_autoreport_posts td, #gb_autoreport_posts th 
{
	border-bottom: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

#gb_autoreport_posts .gb_autoreport_post_info td
{
}

#gb_autoreport_posts .gb_autoreport_message
{
	text-align: left;
}

.gb_autoreport_post_odd
{
	background: #fff;
}