	#slide_module
	{
		border: 1px solid #565656;
		height: 150px;
	}
	
	#slide_nav_left
	{
		height: 150px;
		width: 10px;
		background: url('http://images.hamsterpaj.net/sidescroll/slide_button_left.png');
		float: left;
		cursor: pointer;
		border-right: 1px solid #565656;
	}
	
	#slide_nav_left:hover
	{
		background: url('http://images.hamsterpaj.net/sidescroll/slide_button_left_hover.png');
	}
	
	#slide_nav_left:active
	{
		background: url('http://images.hamsterpaj.net/sidescroll/slide_button_left_down.png');
	}
	
	#slide_nav_right
	{
		height: 150px;
		border-left: 1px solid #565656;
		width: 10px;
		float: left;
		background: url('http://images.hamsterpaj.net/sidescroll/slide_button_right.png');
		cursor: pointer;
	}
	
	#slide_nav_right:hover
	{
		background: url('http://images.hamsterpaj.net/sidescroll/slide_button_right_hover.png');
	}
	
	#slide_nav_right:active
	{
		background: url('http://images.hamsterpaj.net/sidescroll/slide_button_right_down.png');
	}
	
	
	#slide_container
	{
		width: 607px;
		overflow: hidden;
		float: left;
	}
	
	#slide_scroll
	{
		height: 150px;
	}
	
	.slide_content
	{
		border-left: 1px solid #565656;
		border-right: 1px solid #565656;
		background: #f7f7f7;
		width: 563px;
		height: 150px;
		float: left;
		margin-left: 20px;
		padding-left: 2px;
		padding-right: 2px;
	}